body {
  margin: 10px;
  font-size: 16px;
  text-align: center;
  padding: 10px;
  height: 100vh;
  background-color: #f9f1f1;
}

form {
  margin: auto;
  text-align: left;
  max-width: 500px;
  min-width: 300px;
  padding: 20px;
  border: 2px solid #000e32;
  border-radius: 8px;
  background-color: #ffffff;

}

input[type="text"], input[type="email"], input[type="number"] {
  width: 100%;
}

label {
  display: block;
  color: #a6230e;
}

fieldset {
  border: none;
  padding-bottom: 20px;
}

input[id=place] {
  display: inline;
  margin: auto;
}

input[type="submit"] {
  text-align: center;
  display: block;
  margin: auto;
  width: 100px;
  background-color: #db6c00;
  color: #ffffff;
  border: 0;
  padding: 5px;
  border-radius: 8px;
} 
input[type="submit"]:hover {
  background-color: #a65300;
  }
.top {
  border-bottom: 10px solid #db6c00;
  color: #f9f1f1;
  background-color: #a6230e;
  font-family: sans-serif;
  max-width: 520px;
  min-width: 300px;
  margin: auto;
  padding: 15px 20px;
  border-radius: 8px 8px 0 0;
}
textarea {
  width: 100%;
  }
